# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
*.local

# Environment files
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Cache
.cache/
.eslintcache
.stylelintcache

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo

/icons
